body{
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
  }
.motivation-img{
    border: 2px solid white;
    margin: 50px 250px;

}
.poster{
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}